<div class="bg-slider">
  <div id="indexLogo">
    <h1>PorPos!</h1>
    <p>ポートフォリオ投稿サイト</p>
    <a class="button" href="/porpos"><span>PorPos!</span><span>Let's</span></a>
  </div>
</div>
<div id="screenG"></div>
