<% provide(:title, @portfolio.title) %>
<div class="container portfolio__show">
  <div class="flex">
    <div class="portfolio_left_content">
    </div>
    <div class="portfolio_right_content">
      <ul>
        <li>タイトル: <%= @portfolio.title %></li>
        <li>投稿者: <%= @portfolio.user.name %></li>
        <li>詳細: <%= @portfolio.description %></li>
      </ul>
    </div>
  </div>
</div>
