<% provide(:title, "アカウント設定") %>
<% provide(:url, user_path) %>
<div class="container" id="form">
  <div class="user_edit_content">
    <div class="form__header">
      <h3 style="text-align: center">アカウント設定</h3>
    </div>
    <%= render partial: 'form', locals: { user: @user ,button__tag: '完了'} %>
  </div>
</div>
