<% provide(:title, '全ユーザー') %>
<div class="container">
  <h1>全ユーザー</h1>
  <ul class="users">
    <% @users.each do |user| %>
      <li>
        <%= link_to user.name, user %> |
        <%= link_to "削除", user, method: :delete, data: { confirm: "削除しますか？" } %>
      </li>
    <% end %>
  </ul>
</div>
