<% provide(:title, '新規登録') %>
<% provide(:url, signup_path) %>
<div class="container" id="form">
  <div class="signup_content">
    <div class="form__header">
    <ul>
      <li><%= link_to "会員登録", signup_path, class: 'active_page' %></li>
      <li><%= link_to "ログイン", login_path %></li>
    </ul>
    </div>
    <%= render partial: 'form', locals: { user: @user, button__tag: '登録' } %>
  </div>
</div>
