<% provide(:title, @user.name) %>
<div class="my__page">
  <div class="myprofile_content">
      <%= image_tag @user.icon_img.url %>
      <h1><%= @user.name %></h1>
      <%if logged_in? %>
        <% if @user.id == current_user.id || current_user.admin?%>
          <h3><%= @user.email %></h3>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="my_portfolio_content">
  <h1>投稿した作品</h1>
  <div class="container flexx">
    <div class="flex">
      <%= render partial: "/shared/portfolio_card", locals: {content: @portfolios, mypage: true} %>
    </div>
  </div>
</div>
