.comments {
	padding: 10px;
	.comment__form{
		padding: 10px 0px;
		border-top: 2px  solid rgb(226, 226, 226);

	}
	.p-comment__list{
		padding: 20px 0;
		.p-comment_listTitle {
			border-bottom: 2px  solid rgb(226, 226, 226);
			font-size: 20px;
			font-weight: bold;
			&:first-letter {
				font-size: 1.6em;
				color: $color-accent;
			}
		}
		.p-comment__item  {
			span {
				width: 49%;
				display: inline-block;
			}
			.delete_link {
				padding-right: 8px;
				text-align: right;
				text-decoration: none;
			}
			padding: 10px 0;
			border-bottom: 2px  solid rgb(226, 226, 226);
			.comment {
				padding-left: 8px;
				width: 100%;
				word-wrap: break-word;
			}
			.portfolio__user__link {
				font-weight: bold;
				padding: 0;
			}
		}
	}
}
