
.alert {
  position: absolute;
  @media screen and (max-device-width: 420px) {
    bottom: 150px;
    left: 0;
    right: 0;
  }
  @media screen and (min-device-width: 421px) {
    top: 70px;
    left: 0;
    right: 0;
  }
  z-index: 100;
  list-style-type: none;
  text-align: center;
  margin: auto;
  animation: fadeOut 0.7s ease 2s 1 forwards;
  -webkit-animation: fadeOut 0.7s ease 2s 1 forwards;

  @keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }

  li {
    text-decoration: underline;
  }
}
