.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  box-shadow: 0 -7px 10px rgba(#020302, 0.31);
  background: url(/images/dark_wood_back.jpg);
}
body > .container {
  padding: 30px 15px 60px;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.footer ul {
  text-align: right;
  li {
    font-size: 18px;
    display: inline;
    padding-left: 50px;
    a {
      text-decoration: none;
      color: #9d9d9d;
      transition: 0.4s;
      &:hover {
        color: white;
      }
    }
  }
}
.footer span {
  color: silver;
}
