
#form {
  margin-top : 50px;
  margin-bottom: 50px;
  border-radius : 5%;
  padding: 20px;
  width: 30%;
  background: white;
  box-shadow: 2px 2px 4px gray;
  form {
    margin-top: 18px;
  }
  .actions {
    text-align: center;
  }
  .active_page {
    font-weight: bold;
    font-size: 18px;
  }
}

.form__header {
  border-bottom: 1.4px solid rgb(178, 179, 178);
  ul {
    width: 100%;
    list-style: none;
    overflow: hidden;
    padding: 0;
    li {
      width:50%;
      display: inline-block;
      float: left;
      text-align: center;
      a {
        display: block;
        width: 100%;
        text-decoration: none;
        font-size: 16px;
      }
    }
  }
}

.form_btn {
  margin: 8px 0;
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 13pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 52px;   /* 余白       */
  background    : #e1ffc3;     /* 背景色     */
  color         : #999999;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 4px 4px 3px #666666;  /* 影の設定 */
  border        : 2px solid #ccff99;    /* 枠の指定 */
}
.form_btn:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #ccff99;     /* 背景色     */
  background    : #999999;     /* 文字色     */
}
