#logo {
  float: left;
  margin-right: 10px;
  font-size: 3em;
  color: #fff;
  font-family: 'Patua One', cursive;
  letter-spacing: -1px;
  text-decoration: none;
  font-weight: bold;
  transition: 4.342s;
  text-transform: uppercase;
}

#logo:hover {
  color: rgb(139, 167, 142);
  text-decoration: none;
}


#header {
  background: #333;
  li {
    font-size: 18px;
    letter-spacing: 3px;
    margin-left: 10px;
    a {
      margin-top: 10px;
      transition: 0.3s;
    }
  }
}

#dropdown__menu {
  background: #333;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  a {
    color: #9d9d9d;
    transition: 0.3s;
    letter-spacing: 3px;
    &:hover {
      color: white;
      background: #333;
    }
  }
}
