#logo {
  float: left;
  margin-right: 10px;
  font-size: 3em;
  color: #fff;
  font-family: 'Patua One', cursive;
  letter-spacing: -1px;
  text-decoration: none;
  font-weight: bold;
  transition: 4.342s;
  text-transform: uppercase;
}

#logo:hover {
  color: lime;
  text-decoration: none;
}
header {
  height: 60px;
  li {
    font-size: 18px;
    letter-spacing: 3px;
    margin-left: 10px;
    a {
      margin-top: 10px;
      transition: 0.3s;
    }
  }
}
