@import "bootstrap-sprockets";
@import "bootstrap";

html {
  position: relative;
  min-height: 100%;
  overflow-y: scroll;
}
body {
  /* Margin bottom by footer height */
  font-family: "Sawarabi Gothic";
  padding-top: 60px;
  padding-bottom: 80px;
}
