@import "bootstrap-sprockets";
@import "bootstrap";

html {
  position: relative;
  min-height: 100%;
  overflow-y: scroll;
}
body {
  /* Margin bottom by footer height */
  font-family: "Sawarabi Gothic";
  padding-top: 60px;
  padding-bottom: 100px;
  // background: #eff7ef;
  background: url(/images/body_back.png);
  background-repeat: repeat;
  color: #837770;
}
:not(footer,header) {
  color: #ffffff;
}


/* index */
.index__list {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid gray;
    a {
      display: inline-block;
      width: 40%;
      text-decoration: none;
      font-size: 16px;
      &:hover {
        background: silver;
      }
    }
  }
}
