// Place all the styles related to the TopPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* home */
#indexLogo {
	z-index: 1;
	position: absolute;
	color: white;
	top: 37%;
	left: 50%;
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	margin:0;
	padding:0;
	text-shadow: 2px 2px 2px black;
	h1 {
		letter-spacing: 8px;
		font-size: 10em;
		line-height: 1.5em;
		font-weight: bold;
		text-align:center;
		font-family: 'Abril Fatface', cursive;
		margin-bottom: 0;
	}
	p {
		font-size: 3em;
		text-align: center;
		font-family: "Sawarabi Gothic";
		font-weight: bold;
		line-height: 1.4em;
		border-top: 4px ridge white;
		border-bottom: 4px ridge white;
	}
	a {
		text-shadow: none;
	}
}
.bg-slider {
	width: 100vw;
	height: 100vh;
	background-position:center center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
#screen {
  height:  100%;
  width: 100%;
  background-color: rgb(255, 219, 171);
  opacity: 0.3;
  position: absolute;
  z-index: 0;
  left: 0;
  top:0;
}
/* button */
.button {
  font-family: 'Patua One', cursive;
  font-size: 30px;
  letter-spacing: 15px;
  display: inline-block;
  width: 100%;
  height: 54px;
  margin-top: 30px;
  text-align: center;
  text-decoration: none;
  line-height: 60px;
  outline: none;
	position: relative;
	-webkit-perspective: 300px;
	perspective: 300px;
}
.button::before,
.button::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.button span {
  display: block;
  position: absolute;
  width: 100%;
  height: 60px;
  border: 2px solid #333;
  text-align: center;
  line-height: 56px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
  pointer-events: none;
}
.button span:nth-child(1) {
  background-color: #333;
  color: #fff;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -30px;
  -moz-transform-origin: 50% 50% -30px;
  transform-origin: 50% 50% -30px;
}
.button span:nth-child(2) {
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -30px;
  -moz-transform-origin: 50% 50% -30px;
  transform-origin: 50% 50% -30px;
}
.button:hover span:nth-child(1) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.button:hover span:nth-child(2) {
  background-color: #333;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}


/* top page */
body {
  .jumbotron {

		box-shadow: 0 4px 10px 3px gray;
		animation: SlideDown 0.7s ease 0s 1 normal;
		-webkit-animation: SlideDown 0.7s ease 0s 1 normal;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		.container{
			padding: 10px;
			animation: fadeIn 0.7s ease 0.7s 1 forwards;
	 		-webkit-animation: fadeIn 0.7s ease 0.7s 1 forwards;
			@media screen and (min-device-width: 1025px){
			  opacity: 0;
			  a {opacity: 0}
			}
		}
		text-align: center;
    background: url(/images/myportfolio_back.png);
		h1,h2 {
			font-family: 'Abril Fatface', cursive;
			letter-spacing: 3px;
			margin-bottom: 15px;
			font-weight: bold;
		}
		h2 {
			font-size: 50px;
			margin-top: 20px;
			color: $color-accent;
			opacity: 0.9;
		}
    a {
			position: relative;
			margin-top: 20px;
			font-size: 30px;
			animation: fadeInCenter 1s ease 1.4s 1 forwards;
	 		-webkit-animation: fadeInCenter 1s ease 1.4s 1 forwards;
			display: inline-block;
		  padding: .2em 2em;
		  border: 2px solid $color-accent;
		  border-radius: .4em 2em .5em 3em/3em .5em 2em .5em;
		  color: $color-accent;
		  font-family: 'Covered By Your Grace', cursive;
		  font-weight: 400;
		  text-decoration: none;
		  text-align: center;
			background-color: rgba(#e8f8ff, 0.41);
			&:hover {
				background-color: rgba(#e8f8ff, 0.7);
			}
    }
  }
}



.index__content {
	@media screen and (min-device-width: 1025px){ opacity: 0; }
	animation: fadeInCenter 0.5s ease 0.7s 1 forwards;
	-webkit-animation: fadeInCenter 0.5s ease 0.7s 1 forwards;
	.container{
    border-top: 2px  solid rgb(226, 226, 226);
		margin-top: 20px;
		padding: 20px 0;
		h1 {
			text-shadow: 1px 1px 1px gray;
			letter-spacing: 2px;
			margin-bottom: 20px;
			font-size: 24px;
			font-weight: bold;
			&:first-letter{
				letter-spacing: 4px;
				font-size: 38.832px;
				color: $color-accent;
			}
		}
		.flex {
			display: flex;
			flex-wrap: wrap;
		}
	}

}
