// Place all the styles related to the TopPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* home */
#indexLogo {
	z-index: 1;
	position: absolute;
	color: rgba(0, 0, 0, 0.86);
	top: 37%;
	left: 50%;
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	margin:0;
	padding:0;
	text-shadow: 2px 2px 2px #000;
	h1 {
		color: #ffffff;
		letter-spacing: 8px;
		font-size: 10em;
		line-height: 1.5em;
		font-weight: bold;
		text-align:center;
		font-family: 'Abril Fatface', cursive;
		margin-bottom: 0;
	}
	p {
		color: #ffffff;
		font-size: 3em;
		text-align: center;
		font-family: "Sawarabi Gothic";
		font-weight: bold;
		line-height: 1.4em;
		border-top: 4px ridge white;
		border-bottom: 4px ridge white;
	}
	a {
		text-shadow: none;
	}
}
.bg-slider {
	width: 100vw;
	height: 100vh;
	background-position:center center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
#screenG {
  height:  100%;
  width: 100%;
  background-color: rgb(171, 255, 180);
  opacity: 0.3;
  position: absolute;
  z-index: 0;
  left: 0;
  top:0;
}
/* button */
.button {
  font-family: 'Patua One', cursive;
  font-size: 30px;
  letter-spacing: 15px;
  display: inline-block;
  width: 100%;
  height: 54px;
  margin-top: 30px;
  text-align: center;
  text-decoration: none;
  line-height: 60px;
  outline: none;
	position: relative;
	-webkit-perspective: 300px;
	perspective: 300px;
}
.button::before,
.button::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.button span {
  display: block;
  position: absolute;
  width: 100%;
  height: 60px;
  border: 2px solid #333;
  text-align: center;
  line-height: 56px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
  pointer-events: none;
}
.button span:nth-child(1) {
  background-color: #333;
  color: #fff;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -30px;
  -moz-transform-origin: 50% 50% -30px;
  transform-origin: 50% 50% -30px;
}
.button span:nth-child(2) {
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -30px;
  -moz-transform-origin: 50% 50% -30px;
  transform-origin: 50% 50% -30px;
}
.button:hover span:nth-child(1) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.button:hover span:nth-child(2) {
  background-color: #333;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}


/* top page */
body {
  .jumbotron {
    background: white;
    a {
      margin-right: 30px;
    }
  }
}



.index__content {
	.container{
    border-top: 2px  solid rgb(226, 226, 226);
		margin-top: 20px;
		padding: 20px 0;
		h1 {
			padding-bottom: 5px;
			font-size: 30px;
			font-weight: bold;
			color: #505950;
			margin: 0;
		}
	}
}

/* portfolio card*/
.portfolio_content {
	width: calc(25% - 30px);
	margin: 10px 15px;
	padding:0;
	.portfolio_card {
		padding: 8.75px 14px;
		position: relative;
		box-shadow: 0px 0px 8px;
		background: #fbfbfb;
		border-radius: 5px;
		width: 100%;
		h2 {
			font-size: 20px;
			margin: 0;
			padding: 5px 0;
		}
		img {
			border: 1px solid silver;
			border-radius: 3px;
			width: 100%;
			height: 180px;
		}
		p {
			margin-top: 5px;
			margin-bottom: 0;
			text-align: right;
			font-size: 12px;
			i {
				margin-left: 10px;
			}
	 }
	  .portfolio_link {
			border-radius: inherit;
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			transition: 0.4s;
			&:hover {
				background: rgba(#ffcdad, 0.31);
			}
		}
	}
}

.portfolio__user__link {
	margin-top: 7px;
	display: block;
	padding-left: 14px;
	img {
		width: 23px;
		height: 23px;
		border-radius: 50%;
	}
	a {
		img {
			margin-right: 4px;
		}
		text-decoration: none;
		&:hover {
			opacity: 0.7;
		}
	}
}
