// Place all the styles related to the TopPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron .container {
  padding-top: 40px;
}

.bg-slider {
	width: 100vw;
	height: 100vh;
	background-position:center center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
.bg-slider__title{
	color: #fff;
	font-size: 48px;
	line-height: 1.5;
	font-weight: bold;
	text-align:center;
	text-shadow: 1px 1px 1px #000;
}

body {
  #titleimage {
  }
  background: #ebffec;
  padding-top: 60px;
  #indexLogo {
    z-index: 1;
    position: absolute;
    color: rgba(0, 0, 0, 0.86);
    top: 37%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    text-shadow: 2px 2px 2px #000;
    h1 {
        color: #ffffff;
        letter-spacing: 8px;
	      font-size: 10em;
	      line-height: 1.5em;
	      font-weight: bold;
	      text-align:center;
        font-family: 'Abril Fatface', cursive;
        margin-bottom: 0;
    }
    p {
        color: #ffffff;
        font-size: 3em;
        text-align: center;
        font-family: "Sawarabi Gothic";
        font-weight: bold;
        line-height: 1.4em;
        border-top: 4px ridge white;
        border-bottom: 4px ridge white;
    }
    a{
      text-shadow: 0px 0px 0px #000;
      display: inline-block;
      background-color: #2cc3b6;/*背景色*/
      color: #FFF;/*文字色*/
      font-size: 1em;/*文字サイズ*/
      line-height: 1.2;
      text-decoration: none;
      letter-spacing: 0.05em;/*字間*/
      padding:  1em 2.6em;/*ボタン内の余白*/
      border-radius: 3px;/*角の丸み*/
        cursor: pointer;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);/*影*/
      -webkit-tap-highlight-color: transparent;
      transition: .3s ease-out;/*変化を緩やかに*/
      &:hover {
        box-shadow: 0 3px 3px 0
        rgba(0,0,0,0.14), 0 1px 7px 0
        rgba(0,0,0,0.12), 0 3px 1px -1px
        rgba(0,0,0,0.2);/*浮き上がるように*/
      }
    }
  }
}

#screenG {
  height:  100%;
  width: 100%;
  background-color: rgb(171, 255, 180);
  opacity: 0.3;
  position: absolute;
  z-index: 0;
  left: 0;
  top:0;
}

.bg-slider {
    height: 100vh;
    width: 100%;
    background-color: #FFF;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 0;
}

.bg-slider {
    background-position: center top\9;
    background-repeat: repeat-x\9;
}

*+html .bg-slider {
    background-position: center top;
    background-repeat: repeat-x;
}
