.myprofile_content {
  .icon__img {
    height: 150px;
    width:  150px;
    border-radius: 50%;
    box-shadow:2px 3px 10px -1px #131314;
    border:1px solid #cccccc;
    background: silver;
    margin: 10px auto;
  }
  color: #333;
  background: white;
  box-shadow: 3px 3px 4px gray;
  border-radius: 15px;
  width: 50%;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
}
