.my__page {
  background: url(/images/colk_back.png);
  background-repeat: repeat;
  padding: 50px;
}
.myprofile_content {
  //background: url(/images/profile_back.png);
  color: #333;
  background: url(/images/light_wood_back.jpg);
  box-shadow: 0px 5px 12px  rgba(#000000, 0.23);
  border-radius: 15px;
  width: 40%;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  img {
    height: 150px;
    width:  150px;
    border-radius: 50%;
    box-shadow:2px 3px 10px -1px #131314;
    border:1px solid #cccccc;
    background: silver;
    margin: 10px auto;
  }
}

.my_portfolio_content {
  background: url(/images/myportfolio_back.png);
  box-shadow: 0 0 10px;
  background-repeat: repeat;
  padding: 10px;
  border-radius: 10px;
  h1{
      color: #444;
      font-size: 24px;
      display: flex;
      align-items: center;
      &:before, &:after{
          content: "";
          flex-grow: 1;
          height: 1px;
      }
      &:before{
          margin-right: .4em;
          background: linear-gradient(-90deg, #888, transparent);
      }
      &:after{
          margin-left: .4em;
          background: linear-gradient(90deg, #888, transparent);
      }
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
}




/* index */
.users {
 img {
   display: inline-block;
   border-radius: 50%;
   width: 75px;
   height: 75px;
 }
}
