 <footer class="footer">
  <div class="container">
    <p class="text-muted">
      <ul>
        <li><%= link_to "利用規約", rules_path %></li>
        <li><%= link_to "プライバシーポリシー",privacy_path %></li>
        <li><%= link_to "お問い合わせ", "https://goo.gl/forms/GfkzziBZRiVmmphh1" %></li>
      </ul>
    </p>
    <span>@PorPos! 2018</span>
  </div>
</footer>

